@font-face {
  font-family: "Gilroybold";
  src: url("/font/Gilroy-ExtraBold.otf");
}
@font-face {
  font-family: "Gilroylight";
  src: url("/font/Gilroy-Light.otf");
}
body {
  width: 100%;
  display: flex;
  position: relative;
  top: 15px;
  left: 0;
  max-width: 100%;
  font-family: "Gilroybold";
  margin: 0;
  background: #0c0c0c;
  text-align: justify;
  justify-content: center;
  align-items: center;
}
section {
  position: relative;
  top: 50px;
  left: 5%;
  width: 90%;
  display: flex;
  justify-content: baseline;
  align-items: center;
}
@media only screen and (max-width: 715px) {
  section {
    z-index: 1;
    top: 50px;
    max-width: 100%;
    left: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
.t1 {
  text-align: center;
  font-family: "Gilroylight";
  font-size: 30px;
  color: #1c1c1c;
}
.t2 {
  text-align: center;
  font-family: "Gilroylight";
  font-size: 30px;
  color: rgb(122, 122, 240);
}

.container {
  text-align: center;
  background-color: #7a7af0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(122, 122, 240, 0.7);
}
input[type="text"] {
  font-family: "Gilroylight";
  padding: 10px;
  font-size: 16px;
  border: 2px solid #0c0c0c;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #0c0c0c;
  color: #7a7af0;
}
button {
  font-family: "Gilroylight";
  padding: 10px 20px;
  font-size: 16px;
  background-color: #de907b;
  color: #0c0c0c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}
button:hover {
  background-color: #f6f4f3;
}
.result {
  margin-top: 20px;
  font-size: 18px;
  font-weight: bold;
}